body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
}

.note-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.bar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
}

.bar a {
  text-decoration: none;
  color: #333;
  padding-right: 10px;
}


.search-box {
  width: 150px; /* 根据需要调整输入框的宽度 */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#content {
  /* 清除原有样式 */
  border:none;
	outline: none;
	resize: none;
  
  margin: 0;
  padding: 20px;
  padding-top: 60px;
  /* 调整顶部内边距以避免与 .bar 重叠 */
  overflow-y: auto;
  resize: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 16px;
  color: #333;
}

button {
  /* 基本样式 */
  background-color: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-left: 10px;

  /* SVG 图标 */
  background-image: url('/svg/brightness-high-fill.svg');
  background-repeat: no-repeat;
  background-position: left center;
}